<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>About Me</title>
    
</head>
<body  class="background">
<img class="img-1" src="/images/foto1.JPG">
<h1 class="abouth1">About Me</h1>
<p>Ambioso , Ganancioso , Louco ... Esses são os apelidos que se dão para as pessoas que saem da sua zona de
    conforto , e tentam algo diferente ... Pensar fora da caixa ... Mas essa é a historia de uma daquelas
    pessoas , que resolveram silenciar todas as vozes que diziam que os seus planos não daria certo ...
    que não se pode dar passos maiores que suas proprias pernas ... Essa é a historia do icônico ..<br>
    <br> Diego Bastos
</p>
</body>
</html>