<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <section class="container" id="structure"></section>
    <h3 class="h3"> How do you work? </h3>
      <div>
        <article class="service-box">
          <img class = 'imgWork' src="/images/eficiencia_logistica.jpg" >
          <h4 class="h4"> Logistica </h4>
          <p> Meu primeiro trabalho foi com logistica ... fazendo picking e packing de carregamentos , trabalhei 
              por anos no Ikea e atualmente trabalho na Leroy Merlin . </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/3-black-male-employee-working-on-computer-cartoon-clipart.jpg" ">
          <h4 class="h4"> Auxiliar Administrativo </h4>
          <p> Por um longo tempo trabalhei como auxiliar administrativo , analisando o desempenho de
              geradores de energia . Indicava aos clientes os aparelhos mais úteis .
          </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/62812.png" >
          <h4 class="h4"> Empregado de Mesa </h4>
          <p>Trabalhando como empregado de mesa , percorri um longo caminho chefe de sala e empregado de mesa 
              geralmente gerenciando a forma de se servir rodízios de comida .
          </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/transferir (1).jpg">
          <h4 class="h4"> Mecanico </h4>
          <p>Trabalhando com Manutençao de Aeronaves , estive encarregado de fazer o chekin em aviões de todos os 
              tipos , comandando a maneira correta de abordar os cuidados dos aviões. </p>
        </article>
      </div>
    </section>
    
</body>
</html> -->