<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <section class="container" id="structure"></section>
    <h3 class="h3"> How do you work? </h3>
      <div>
        <article class="service-box">
          <img class = 'imgWork' src="/images/eficiencia_logistica.jpg" >
          <h4 class="h4"> Logistica </h4>
          <p> We teach all the necessary things to jump from the plane without any kind of problem. </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/3-black-male-employee-working-on-computer-cartoon-clipart.jpg" ">
          <h4 class="h4"> Auxiliar Administrativo </h4>
          <p> You are already prepared, you just need to suit up and parachute. All sizes available. </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/62812.png" >
          <h4 class="h4"> Empregado de Mesa </h4>
          <p> You are ready, and the plane is waiting for us in the hangar. Let's fly! </p>
        </article>
        <article class="service-box">
          <img class = 'imgWork' src="/images/transferir (1).jpg">
          <h4 class="h4"> Mecanico </h4>
          <p> You have done the most complicated part. Just one step left...jump! </p>
        </article>
      </div>
    </section>
    
</body>
</html> -->