@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

.back {
  background-color: black;
}

 .nav-bar {
  background-color: rgba(75, 4, 4, 0.171);
    padding: 15px 0;
  margin-top: 100px;
  margin-right: 60px;
    
  }
  .h1{
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px  ;
    font-size: 70px ;
  }
  .h3{
    font-family: Roboto Condensed;
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }
  p {
    font-family: Roboto Condensed;
    width: 50%;
    padding-left: 10px;

   
    font-size: 30px;
    color: rgb(4, 36, 36);
  }
  .nav-bar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    font-family: Roboto Condensed
  } 
  .nav-bar a:hover{
    color: rgb(158, 6, 6);
  } 
  .nav-bar-ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
   
  }
  
  .nav-bar-ul li {
    list-style-type: none;
    text-align: center;
  }

 
  .img-1{
    opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  }
  .abouth1{
    font-size: 60px;
    font-family:Roboto Condensed; 
    margin-left: 20px;
    margin-right: 0;

  }
  .service-box {
    font-size: 1.7em;
    text-align: center;
    border: 2px solid #EEE;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #EEE;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 40%;
  }
  
  .service-box > .imgWork {
    width: 50px;
    height: 90px;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
  }
  #structure > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
    